main {
  width: 100%;
}

.hero {
  padding-top: 3px;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  gap: 9.7rem;
  background-color: $primary-color;
  padding-right: 9.7rem;
  align-items: end;
  background-image: url("../../images/home/desktop/bg-pattern-hero-home.svg");
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  border-radius: 1.5rem;
}

.hero__content {
  color: $secondary-color;
  padding: 14.5rem 0rem 14.8rem 9.5rem;
}

.hero__title {
  width: 100%;
  max-width: 54rem;
  margin-bottom: 1.1rem;
  font-weight: 500;
}

.hero__subtitle {
  width: 100%;
  max-width: 44rem;
  margin-bottom: 4rem;
}

.hero__img {
  width: 100%;
  max-width: 28.1rem;
  padding-top: 13.9rem;
  display: flex;
}

@media screen and (max-width: 1000px) {
  .hero__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 0;
    background-position: right -10rem top 10rem;
    overflow: hidden;
  }

  .hero__content {
    padding: 6rem 5.8rem 0 5.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero__title {
    text-align: center;
  }

  .hero__subtitle {
    text-align: center;
  }

  .hero__img {
    padding-top: 5rem;
    margin-bottom: -5rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 3.9rem;
    padding-right: 3.9rem;
  }
  .hero__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 0;
    background-position: right -10rem top 10rem;
    overflow: hidden;
  }

  .hero__content {
    padding: 6rem 5.8rem 0 5.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero__title {
    text-align: center;
  }

  .hero__subtitle {
    text-align: center;
  }

  .hero__img {
    padding-top: 5rem;
    margin-bottom: -5rem;
  }
}

@media screen and (max-width: 475px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .hero__content {
    padding: 8rem 2.4rem 0 2.4rem;
  }

  .hero__subtitle {
    margin-bottom: 2.4rem;
  }

  .hero__img {
    padding-top: 0rem;
  }
}

.img__card {
  height: 64rem;
}
.img__card__container {
  width: 100%;
  max-width: 1211px;
}

.img__card__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "one two"
    "one three";
  height: 64rem;
  row-gap: 2.4rem;
  column-gap: 3rem;
  width: 100%;
  max-width: 1211px;
}

.img__card__list__item:first-child {
  grid-area: one;
}
.img__card__list__item:nth-child(2) {
  grid-area: two;
}
.img__card__list__item:nth-child(3) {
  grid-area: three;
}

.img__card__list__item {
  width: 100%;
  max-width: 120rem;
}

.img__card__list__item:hover > .img__card__list__item__content {
  background-color: rgba(231, 129, 107, 0.8);
}

.img__card__list__item img {
  width: 100%;
  max-width: 120rem;
}

.img__card__list__item:first-child {
  height: auto;
}

.img__card__list__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $secondary-color;
  max-width: 54.1rem;
  width: 100%;
}

.img__card__list__item img {
  border-radius: 1.5rem;
}

.img__card__list__item__content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.img__carrd__list__item__title {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 500;
}
.img__carrd__list__item__title {
}
.img__carrd__list__item__subtitle {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.44;
  letter-spacing: 5px;
}

@media screen and (max-width: 1000px) {
  .img__card__list {
    display: flex;
    flex-direction: column;
  }

  .img__card__list__item {
    width: 100%;
    height: 30rem;
    max-width: 150rem;
  }

  .img__card {
    padding-top: 8rem;
  }
}

@media screen and (max-width: 375px) {
  .img__card {
    padding-top: 12rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  .img__carrd__list__item__title {
    font-size: 2.8rem;
  }

  .img__carrd__list__item__subtitle {
    font-size: 1.5rem;
  }
}

.user {
  padding-top: 28rem;
}

.user__list {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.user__list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user__list__item div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user__list__item img {
  margin-bottom: 4.8rem;
  background-image: url("../images/home/desktop/bg-pattern-hero-home.svg");
  background-size: cover;
}

.user__list__title {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 500;
  letter-spacing: 5px;
  margin-bottom: 3.2rem;
}

.user__list__item__subtitle {
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .user {
    padding-top: 80rem;
  }
}

@media screen and (max-width: 768px) {
  .user {
    padding-top: 20rem;
  }
  .user__list {
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  .user__list__item {
    flex-direction: row;
    align-items: center;
    gap: 4.8rem;
  }

  .user__list__item__subtitle {
    text-align: left;
  }

  .user__list__item img {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 375px) {
  .user {
    padding-top: 35rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  .user__list__item {
    flex-direction: column;
    margin-bottom: 8rem;
  }

  .user__list__item__subtitle {
    text-align: center;
  }
}

// ctg style start

.ctg {
  margin-bottom: -8rem;
  z-index: 1;
}

.ctg__container {
  margin-top: 16rem;
  padding: 7.2rem 9.5rem;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.5rem;
  background-image: url("../../images/shared/desktop/bg-pattern-call-to-action.svg");
  background-size: 70%;
  background-position: right;
  background-repeat: no-repeat;
}

.ctg__content__title {
  width: 100%;
  max-width: 26.8rem;
  font-weight: 500;
  color: $secondary-color;
}
.ctg__content__subtitle {
  color: $secondary-color;
  width: 100%;
  max-width: 46rem;
  padding-top: 2rem;
}

@media screen and (max-width: 375px) {
  .ctg__container {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    margin-top: 8rem;
    border-radius: 1.5rem;
  }
}

@media screen and (max-width: 610px) {
  .ctg {
    margin-bottom: -20rem;
    border-radius: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .ctg__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    background-size: 125%;
    border-radius: 1.5rem;
  }

  .ctg__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.web__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 0;
}

.web__content__one {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.web__cards {
  padding-top: 25rem;
}

.web__cards__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}
.web__card {
  width: 100%;
  max-width: 35rem;
  border-radius: 1.5rem;
  background-color: rgba(253, 243, 240, 1);
}

.web__content {
  padding: 0 3.2rem 3.2rem 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
  padding-top: 3.2rem;
  border-radius: 0 0 1.5rem 1.5rem;
  text-align: center;
}

.web__content:hover {
  background-color: $primary-color;
  color: white;
}

.web__card img {
  width: 100%;
  max-width: 35rem;
  border-radius: 1.5rem 1.5rem 0 0;
}
.web__card__title {
  font-size: 2rem;
  line-height: 1.3;
  letter-spacing: 5px;
  color: $card-text-col;
}

.web__content:hover {
  background-color: $primary-color;
  color: white;
}

.web__content:hover .web__card__title {
  color: white;
}

@media screen and (max-width: 829px) {
  .web__card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    padding: 0;
    width: 100%;
    max-width: 829px;
  }

  .web__card img {
    margin-bottom: 0;
    border-radius: 1.5rem 0 0 1.5rem;
  }

  .web__content {
    padding: 9.9rem 4.1rem 9.8rem 0;
  }
}
@media screen and (max-width: 656px) {
  main {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  .web__card {
    flex-direction: column;
    padding-bottom: 3.2rem;
  }

  .web__card img {
    width: 100%;
    max-width: 65.6rem;
    border-radius: 1.5rem 1.5rem 0 0;
  }
  .web__content {
    padding: 3.2rem 2.9rem;
  }
}

.web__img__cards {
  padding-top: 16rem;
  color: white;
}

.web__img__cards__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.web__ing__card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 54.1rem;
}

.web__ing__card img {
  border-radius: 1.5rem;
  width: 100%;
  max-width: 54.1rem;
}

// .web__ing__card
.web__img__card__content {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.527);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
  border-radius: 1.5rem;
}
.web__img__card__content__title {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 2px;
}

.web__img__card__content__subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.36;
  letter-spacing: 5px;
}

.wiev__cont::after {
  content: url("../../images/shared/desktop/Path\ 5.svg");
  margin-left: 2.1rem;
}

@media screen and (max-width: 1000px) {
  .web__img__cards {
    padding-top: 8rem;
  }
  .web__img__cards__container {
    flex-direction: column;
  }

  .web__img__card__content__title {
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 576px) {
  .web__img__card__content__title {
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.39;
    letter-spacing: 1.39px;
  }
}

.about__hero {
  color: $secondary-color;
  margin-bottom: 16rem;
}

.about__hero__container {
  display: flex;
  align-items: center;
  padding-right: 0;
  gap: 4rem;
  justify-content: space-between;
  border-radius: 1.5rem;
  background-image: url("../../images/about/desktop/about\ bg.png");
  background-repeat: no-repeat;
  background-color: $primary-color;
}

.about__talent__container {
  display: flex;
  align-items: center;
  background-color: rgba(253, 243, 240, 1);
  padding-left: 0;
  padding-right: 9.6rem;
  gap: 4rem;
  justify-content: space-between;
  border-radius: 1.5rem;
  background-image: url("../../images/about/desktop/abouttalent.png");
  background-repeat: no-repeat;
}

.about__hero__container img {
  border-radius: 0 1.5rem 1.5rem 0;
  width: 100%;
  max-width: 850px;
}

.about__talent__container img {
  border-radius: 1.5rem 0 0 1.5rem;
}

.about__hero__content {
  width: 100%;
  max-width: 45.8rem;
  display: flex;
  gap: 3.2rem;
  flex-direction: column;
}
.about__title {
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 1;
}

.abour__talent {
  flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
  .about__hero {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .about__hero__container {
    flex-direction: column-reverse;
    padding-left: 0;
    width: 100%;
    max-width: 768px;
  }

  .about__hero__container img {
    width: 100%;
    max-width: 768px;
    border-radius: 1.5rem 1.5rem 0 0;
  }

  .about__hero__content {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-bottom: 6.4rem;
    width: 100%;
    max-width: 57.3rem;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about__subtitle {
    text-align: center;
    padding: 0;
  }

  .about__talent__container {
    padding-right: 0;
  }
}

@media screen and (max-width: 375px) {
  main {
    padding: 0;
  }
  .about__hero {
    margin-top: 3.4rem;
    padding: 0;
    margin-bottom: 0;
  }
  .about__hero__container {
    width: 100%;
    max-width: 375px;
    border-radius: 0;
  }

  .about__hero__content {
    width: 100%;
    max-width: 32.7rem;
  }

  .about__talent__container img {
    border-radius: 0;
  }

  .about__talent {
    margin-top: -4rem;
  }
}

.about__country {
}
.about__country__container {
}
.container {
}

.about__country__list {
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: space-between;
  // flex-wrap: wrap;
}

.about__country__list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__country__list__item img {
  width: 100%;
}

.country__name {
  padding-top: 4.8rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 5px;
  text-align: center;
}

.country__btn {
  font-size: 1.5rem;
  width: 100%;
  max-width: 15.5rem;
  background-color: $primary-color;
  color: $secondary-color;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.about__deal {
  padding-top: 14rem;
}

.about__deal__container {
  background-image: url("../../images/about/desktop/about3bg.png");
  background-color: rgba(253, 243, 240, 1);
}

.deal__title {
  color: $primary-color;
}

.deal__subtitle {
  color: $text-color;
}

@media screen and (max-width: 768px) {
  .about__country__list {
    flex-direction: column;
  }
}

@media screen and (max-width: 375px) {
  .about__deal__container img {
    border-radius: 0;
  }
}

.location {
}
.location__conteiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-left: auto;
  margin-right: auto;
  max-width: 1111px;
  row-gap: 3.2rem;
  column-gap: 3rem;
}

.container {
}

.location__item {
  height: 32.6rem;
}

.location__item:nth-child(1),
.location__item:nth-child(4),
.location__item:nth-child(5) {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 8.8rem 3rem 8.8rem 9.5rem;
}

.location__item img {
  width: 100%;
  height: 100%;
}

.location__item:nth-child(1) {
  grid-area: 1/1/2/3;
  background-image: url("../../images/locations/desktop/locationbg.png");
}
.location__item:nth-child(2) {
  grid-area: 1/3/2/4;
}
.location__item:nth-child(3) {
  grid-area: 2/1/3/2;
}
.location__item:nth-child(4) {
  grid-area: 2/2/3/4;
  background-image: url("../../images/locations/desktop/locationbg.png");
}

.location__item:nth-child(5) {
  grid-area: 3/1/4/3;
  background-image: url("../../images/locations/desktop/locationbg.png");
}
.location__item:nth-child(6) {
  grid-area: 3/3/4/4;
}

.country__location__name {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.4;
  text-align: left;
  color: $primary-color;
  margin-bottom: 2.4rem;
}

.location__item__info {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.location__item__info p {
  width: 100%;
  max-width: 19rem;
}

.location__item__info p::first-line {
  font-weight: 700;
}

.location__item__info p a {
  color: $text-color;
}

@media screen and (max-width: 844px) {
  .location__conteiner {
    display: flex;
    flex-direction: column-reverse;
  }

  .location__item:nth-child(3) {
    order: 4;
  }
  .location__item:nth-child(4) {
    order: 3;
  }
}
@media screen and (max-width: 538px) {
  .location__item {
    display: flex;
    flex-direction: column;
  }

  .location__item__info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
  }

  .location__item {
    height: fit-content;
  }

  .location__item:nth-child(1),
  .location__item:nth-child(4),
  .location__item:nth-child(5) {
    padding: 4rem 2rem;

    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.contact__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-form {
  border-radius: 8px;
  max-width: 380px;
  width: 100%;
  height: 37.1rem;
  margin-right: 9.6rem;
  display: flex;
  flex-direction: column;
  margin-top: 5.5rem;
  margin-bottom: 5.5rem;

  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    position: relative;

    input,
    textarea {
      background: none;
      border: none;
      border-bottom: 1px solid #fff;
      color: #fff;
      font-size: 1.5rem;
      padding: 0.5rem 0;
      outline: none;

      &::placeholder {
        color: rgba(255, 255, 255, 0.7);
      }

      input:valid {
        border: rgba(255, 255, 255, 1) 3px solid;
      }
    }

    textarea {
      resize: none;
      height: 100px;
    }

    button {
      background-color: #fff;
      color: $text-color;
      border: none;
      border-radius: 4px;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      cursor: pointer;
      align-self: flex-end;
      font-family: Jost;
      font-size: 15px;
      font-weight: 500;
      line-height: 21.68px;
      letter-spacing: 1px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;

      &:hover {
        background-color: rgba(255, 173, 155, 1);
        color: #fff;
      }
    }
  }
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11rem;
}

.empty img {
  width: 2rem;
}

.empty {
  font-family: Jost;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  position: absolute;
  top: 5.4rem;
  left: 27rem;
  gap: 0.9rem;
  opacity: 0;
}

.email:invalid + .empty {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .contact__container {
    display: flex;
    flex-direction: column;
    padding: 7.1rem 5.8rem;
  }

  .contact__hero {
    padding: 0;
  }

  .contact-form {
    margin: 0;
    width: 100%;
    max-width: 768px;
  }
}
