.btn {
    width: 100%;
    max-width: 15.2rem;
    height: 5.6rem;
    background-color: #ffffff;
    color: $text-color;
    padding: 1.8rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.44;
}

.btn:active {
    background-color: #FFAD9B;
    color: $secondary-color;
}